//colors
$dark-grey: #333;
$light-grey: #999;
$accent: #DA0;

//fonts
$head-font: Andale Mono, monospace;
$sub-font: Courier New, monospace;

//font sizes
$heading: 42px;
$subheading: 36px;
$copy-large: 20px;
$copy-regular: 16px;
$copy-small: 12px;

//margins
$page-margin: 100px 80px;
$large-margin: 60px;
$small-margin: 20px;
