#contact-map {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../assets/images/map.jpeg);

    * {
        color: #FFF;
        font-weight: bolder;
    }

    a:hover {
        color: $accent;
    }
}